<div class="userprofile create-account">

    <a class="waves-logo" ui-sref="welcome"></a>

    <div class="text-center">
        <div class="headline-1">
            <span w-i18n="userProfile.userProfile"></span>
        </div>

        <div class="body-2 disabled-600">
            <span w-i18n="userProfile.profile"></span>
            <a ui-sref="welcome" w-i18n="modal.prev"></a>
        </div>
    </div>

    <hr>

    <div class="or margin-2">
        <span w-i18n="modal.or"></span>
    </div>
    <div class="text-center body-2 flex-column-center-min margin-2">
        <a href="" w-i18n="userProfile.logOut" ng-click="$ctrl.logout()"></a>
    </div>

</div>
